In [1]:
import numpy as np
import pandas as pd

In [7]:
from sklearn.model_selection import train_test_split

In [24]:
import optuna.integration.lightgbm as lgb

ModuleNotFoundError: No module named 'optuna'

In [22]:
from lightgbm import early_stopping

In [3]:
df = pd.read_csv('df.csv')
df.head()

,property_type,sector,price,bedRoom,bathroom,balcony,agePossession,built_up_area,servant room,store room,furnishing_type,floor_category
0,flat,sector 70,1.55,3,3,3,Relatively New,1527.0,1,0,unfurnished,Mid Floor
1,flat,sector 79,0.71,2,2,3+,New Property,1280.0,0,0,unfurnished,High Floor
2,flat,sector 90,1.25,3,4,3+,Old Property,1608.0,1,0,furnished,Low Floor
3,flat,sector 71,0.95,2,2,2,Moderately Old,1084.0,0,0,semifurnished,Mid Floor
4,flat,sector 66,3.20,3,3,3,Relatively New,1800.0,1,1,unfurnished,High Floor

In [5]:
X = df.drop(columns=['price'])
y = df['price']
# Applying the log1p transformation to the target variable
y_transformed = np.log1p(y)

In [8]:
X_train, X_test, y_train, y_test = train_test_split(X,y_transformed,test_size=0.2,random_state=42)

In [10]:
hyper_params = {
    'task': 'train',
    'boosting_type': 'gbdt',
    'objective': 'regression',
    'metric': ['l1','l2'],
    'learning_rate': 0.005,
    'feature_fraction': 0.9,
    'bagging_fraction': 0.7,
    'bagging_freq': 10,
    'verbose': 0,
    "max_depth": 8,
    "num_leaves": 128,  
    "max_bin": 512,
    "num_iterations": 100000
}

In [11]:
gbm = lgb.LGBMRegressor(**hyper_params)

In [23]:
gbm.fit(X_train, y_train,
        eval_set=[(X_test, y_test)],
        eval_metric='l1',
        early_stopping_rounds=1000)

TypeError: fit() got an unexpected keyword argument 'early_stopping_rounds'

In [20]:
from sklearn.ensemble import GradientBoostingRegressor